src/main/webapp/WEB-INF/ANAIS-INT10-accountV5-MDM.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	targetNamespace="http://siebel.com/CustomUI" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://siebel.com/CustomUI">
	<types>
		<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="http://siebel.com/CustomUI"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:element name="createOrganizationB2BV5_Input">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Process_spcInstance_spcId" type="xsd:string"></xsd:element>
						<xsd:element name="AccountOperation" type="xsd:string"></xsd:element>
						<xsd:element name="Object_spcId" type="xsd:string"></xsd:element>
						<xsd:element name="RealtimePubSub" type="xsd:string"></xsd:element>
						<xsd:element name="Siebel_spcOperation_spcObject_spcId" type="xsd:string"></xsd:element>
						<xsd:element name="_sblesc_lstValue_grt" type="xsd:string"></xsd:element>
						<xsd:element ref="ListOfSwiOrganizationB2BIO"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="createOrganizationB2BV5_Output">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="_sblesc_lstValue_grt" type="xsd:string"></xsd:element>
						<xsd:element name="Error_spcCode" type="xsd:string"></xsd:element>
						<xsd:element name="Error_spcMessage" type="xsd:string"></xsd:element>
						<xsd:element name="ErrorCode" type="xsd:string"></xsd:element>
						<xsd:element name="ErrorField" type="xsd:string"></xsd:element>
						<xsd:element name="ErrorMsg" type="xsd:string"></xsd:element>
						<xsd:element name="Object_spcId" type="xsd:string"></xsd:element>
						<xsd:element name="Process_spcInstance_spcId" type="xsd:string"></xsd:element>
						<xsd:element name="RealtimePubSub" type="xsd:string"></xsd:element>
						<xsd:element name="Siebel_spcOperation_spcObject_spcId" type="xsd:string"></xsd:element>
						<xsd:element ref="ListOfSwiOrganizationB2BOutIOV5"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="updateOrganizationB2BV5_Input">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Process_spcInstance_spcId" type="xsd:string"></xsd:element>
						<xsd:element name="AccountOperation" type="xsd:string"></xsd:element>
						<xsd:element name="Object_spcId" type="xsd:string"></xsd:element>
						<xsd:element name="RealtimePubSub" type="xsd:string"></xsd:element>
						<xsd:element name="Siebel_spcOperation_spcObject_spcId" type="xsd:string"></xsd:element>
						<xsd:element name="_sblesc_lstValue_grt" type="xsd:string"></xsd:element>
						<xsd:element ref="ListOfSwiOrganizationB2BIO"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="updateOrganizationB2BV5_Output">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="_sblesc_lstValue_grt" type="xsd:string"></xsd:element>
						<xsd:element name="Error_spcCode" type="xsd:string"></xsd:element>
						<xsd:element name="Error_spcMessage" type="xsd:string"></xsd:element>
						<xsd:element name="ErrorCode" type="xsd:string"></xsd:element>
						<xsd:element name="ErrorField" type="xsd:string"></xsd:element>
						<xsd:element name="ErrorMsg" type="xsd:string"></xsd:element>
						<xsd:element name="Object_spcId" type="xsd:string"></xsd:element>
						<xsd:element name="Process_spcInstance_spcId" type="xsd:string"></xsd:element>
						<xsd:element name="RealtimePubSub" type="xsd:string"></xsd:element>
						<xsd:element name="Siebel_spcOperation_spcObject_spcId" type="xsd:string"></xsd:element>
						<xsd:element ref="ListOfSwiOrganizationB2BOutIOV5"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
		<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" >
			<xsd:annotation>
				<xsd:documentation>Copyright (C) 2001-2004 Siebel Systems, Inc. All
					rights reserved. Siebel XSD
					Generation
				</xsd:documentation>
			</xsd:annotation>
			<xsd:element name="ListOfSwiOrganizationB2BIO" type="ListOfSwiOrganizationB2BIO"></xsd:element>
			<xsd:complexType name="ListOfSwiOrganizationB2BIOTopElmt">
				<xsd:sequence>
					<xsd:element name="ListOfSwiOrganizationB2BIO" maxOccurs="1" minOccurs="1" type="ListOfSwiOrganizationB2BIO"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ListOfSwiOrganizationB2BIO">
				<xsd:sequence>
					<xsd:element name="Account" maxOccurs="unbounded" minOccurs="1" type="Account"></xsd:element>
				</xsd:sequence>
				<xsd:attribute name="ExternalSystemId" type="xsd:string" />
			</xsd:complexType>
			<xsd:complexType name="Account">
				<xsd:sequence>
					<xsd:element name="Id" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="RowId" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="PartyTypeCode" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="PartyUId" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="LastUpdateSDQ" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="UpdatedBy" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="Updated" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="Location" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="IntegrationId" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="Name" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BLegalName" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="AccountStatus" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BSFAAccountStatus" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="Status" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="Type" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BCreatedDate" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="AccountCreatedBy" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BCreatedByLogin" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BUpdated" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="AccountUpdatedBy" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BUpdatedBy" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BPhonePrefix" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BClientType" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="MainPhoneNumber" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BFaxPrefix" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="MainFaxNumber" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="HomePage" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BEmail" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BAccountResponsableLogin" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BResponsableNom" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BResponsablePrenom" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ParentAccountIntegrationId" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BParentAccountResponsableLogin" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BMasterAccountIntegrationId" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BBusinessType" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BKeyAccountClassification" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BInactiveFlag" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BSystematicTracking" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="DUNSNumber" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BCapital" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BCASociete" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BBusinessLine" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BBusinessSector" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BMainAccorDivision" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BRegistrationNumber" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BTypeSociete" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="Description" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORDescription2" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORDescription3" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BCreditManagement" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BLastUpdatedGrappe" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BLastUpdatedGrappeSystemId" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORContratNumber" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORDNBDevise" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORDNBNationalID" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORDNBIDType" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORDNBOutBusiness" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORDNBTotalEmployees" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BAccountCategory" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BBookingCodeSource" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BBookingCode" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BRecordType" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BNetPriceRemunerationFlag" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BReservationMode" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BTerritoryCode" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BAgencyUpdated" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BAgencyCreated" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BAccountStatus" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BHomeAgencyCode" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BPreviousAgencyCode" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BTransactionCode" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BToBeDeleted" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BDeletionReason" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BNetworkId" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BNetworkTARSCode" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BNetworkName" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BExternalAgencyCode" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BSuspiciousAgencyStatus" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BConsortiumName" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BConsortiumTARSCode" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BSuspiciousAgencyStatusLastUpdate" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BSuspiciousAgencyComments" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BNoshowPercentage" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BCancelledRevenue" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BTARSTransferred" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BAccessCode1" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BAccessCode2" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BStartDateValidity1" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BStartDateValidity2" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BExpirationDate" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BSubsidiaryAccountClassification" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BIndividualGenericAccount" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BLeadSource" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BCreatedByDelphi" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BUpdatedByDelphi" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ListOfCifAccountReference" maxOccurs="1" minOccurs="0" type="ListOfCifAccountReference"></xsd:element>
					<xsd:element name="ListOfDnbAccount" maxOccurs="1" minOccurs="0" type="ListOfDnbAccount"></xsd:element>
					<xsd:element name="ListOfAccorSegment" maxOccurs="1" minOccurs="0" type="ListOfAccorSegment"></xsd:element>
					<xsd:element name="ListOfAccount_BusinessAddress" maxOccurs="1" minOccurs="0"
						type="ListOfAccount_BusinessAddress"></xsd:element>
					<xsd:element name="ListOfAccorAccountSegment" maxOccurs="1" minOccurs="0" type="ListOfAccorAccountSegment"></xsd:element>
					<xsd:element name="ListOfAccorDistribution" maxOccurs="1" minOccurs="0" type="ListOfAccorDistribution"></xsd:element>
					<xsd:element name="ListOfAccorB2bAccountResaHabitsDistribMode" maxOccurs="1" minOccurs="0"
						type="ListOfAccorB2bAccountResaHabitsDistribMode"></xsd:element>
					<xsd:element name="ListOfAccorB2bAccountResaHabitsResaMode" maxOccurs="1" minOccurs="0"
						type="ListOfAccorB2bAccountResaHabitsResaMode"></xsd:element>
					<xsd:element name="ListOfAccorB2bAccountCi" maxOccurs="1" minOccurs="0" type="ListOfAccorB2bAccountCi"></xsd:element>
				</xsd:sequence>
				<xsd:attribute name="Operation" type="xsd:string"></xsd:attribute>
				<xsd:attribute name="Searchspec" type="xsd:string"></xsd:attribute>
			</xsd:complexType>
			<xsd:complexType name="ListOfCifAccountReference">
				<xsd:sequence>
					<xsd:element name="CifAccountReference" maxOccurs="unbounded" minOccurs="0" type="CifAccountReference"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="CifAccountReference">
				<xsd:sequence>
					<xsd:element name="ExternalId1" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="SystemNumber" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ListOfDnbAccount">
				<xsd:sequence>
					<xsd:element name="DnbAccount" maxOccurs="unbounded" minOccurs="0" type="DnbAccount"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="DnbAccount">
				<xsd:sequence>
					<xsd:element name="DUNSNumber3" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ParentHQDUNS3" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="DomesticUltimateDUNS2" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="GlobalUltimateDUNS3" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BRequestDate" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BRiskBand" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BOriginalLimit" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BOriginalDecision" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BComments" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="EmployeeTotal" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BIDType" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="NationalIdentificationNumber2" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="SICCode" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BDNBUpdateStatus" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BAccountDUNSNumber" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="BusinessName" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="AnnualSalesLocalCurrency" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BDevise" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BOutOfBusiness" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="EmployeeHere2" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="MailAddress" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="MailCity" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="MailState" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="MailZip" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORMailingCountry" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORRegisteredAddInd" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="CableTelexNumber" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORCEOFullName" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORCEOTitle" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="PrimaryLocalActivityCode" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORActivityIndicator" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="YearStarted1" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="AnnualSalesLocalCurrencyCD" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORAnnualSalesUS" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="EmployeeHereCode" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="EmployeeTotalCode" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORIncludePrinciples" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ImportExportCode" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="LegalStatus2" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="SiteStatus" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="SubsidiaryIndicator" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORPreviousDUNSNumber" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORReportDate" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="NumberofFamilyMembers" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="DiasCode" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="HierarchyCode" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="FamilyUpdateDate" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORMarketableIndicator" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORDNBSIC2" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORDNBSIC3" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORDNBSIC4" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORDNBSIC5" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORDNBSIC6" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BOriginalLimitCurrency" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ListOfDnbSic" maxOccurs="1" minOccurs="0" type="ListOfDnbSic"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ListOfAccorSegment">
				<xsd:sequence>
					<xsd:element name="AccorSegment" maxOccurs="unbounded" minOccurs="0" type="AccorSegment"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="AccorSegment">
				<xsd:sequence>
					<xsd:element name="AdditionalSegment" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
				</xsd:sequence>
				<xsd:attribute name="Operation" type="xsd:string"></xsd:attribute>
			</xsd:complexType>
			<xsd:complexType name="ListOfAccount_BusinessAddress">
				<xsd:sequence>
					<xsd:element name="Account_BusinessAddress" maxOccurs="unbounded" minOccurs="0" type="Account_BusinessAddress"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Account_BusinessAddress">
				<xsd:sequence>
					<xsd:element name="AddressId" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="AddressIntegrationId" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="BillAddressFlag" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="AddressName" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="StreetAddress" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="StreetAddress2" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ApartmentNumber" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORAddressLine4" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="City" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="PostalCode" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="Country" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="State" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORNPAIFlag" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORNPAIDate" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCOROptOutFlag" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCOROptOutDate" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="AddressCleanseVerifiedFlag" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="AddressCleanseVerifiedStatus" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORAddressType" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ListOfACCORAccountAddressUsageType" maxOccurs="1" minOccurs="0"
						type="ListOfACCORAccountAddressUsageType"></xsd:element>
				</xsd:sequence>
				<xsd:attribute name="IsPrimaryMVG" type="xsd:string"></xsd:attribute>
				<xsd:attribute name="Operation" type="xsd:string"></xsd:attribute>
				<xsd:attribute name="Searchspec" type="xsd:string"></xsd:attribute>
			</xsd:complexType>
			<xsd:complexType name="ListOfAccorAccountSegment">
				<xsd:sequence>
					<xsd:element name="AccorAccountSegment" maxOccurs="unbounded" minOccurs="0" type="AccorAccountSegment"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="AccorAccountSegment">
				<xsd:sequence>
					<xsd:element name="Id" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="Created" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="CreatedBy" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="Updated" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="UpdatedBy" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ConflictId" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="Searchspec2" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="Name" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="Type2" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
				</xsd:sequence>
				<xsd:attribute name="Operation" type="xsd:string"></xsd:attribute>
			</xsd:complexType>
			<xsd:complexType name="ListOfAccorDistribution">
				<xsd:sequence>
					<xsd:element name="AccorDistribution" maxOccurs="unbounded" minOccurs="0" type="AccorDistribution"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="AccorDistribution">
				<xsd:sequence>
					<xsd:element name="Id" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="Created" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="CreatedBy" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="Updated" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="UpdatedBy" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ConflictId" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="Searchspec2" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BGDSCode" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BGDSIATA" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BNRCCode" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BPCCCode" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BRateaccess" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BSGACode" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BSGASite" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="AccountId" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="Name" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="Type2" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
				</xsd:sequence>
				<xsd:attribute name="Operation" type="xsd:string"></xsd:attribute>
			</xsd:complexType>
			<xsd:complexType name="ListOfAccorB2bAccountResaHabitsDistribMode">
				<xsd:sequence>
					<xsd:element name="AccorB2bAccountResaHabitsDistribMode" maxOccurs="unbounded" minOccurs="0"
						type="AccorB2bAccountResaHabitsDistribMode"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="AccorB2bAccountResaHabitsDistribMode">
				<xsd:sequence>
					<xsd:element name="Id" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="Created" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="CreatedBy" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="Updated" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="UpdatedBy" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ConflictId" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="Searchspec2" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BDistributionList" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="Name" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="Type2" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
				</xsd:sequence>
				<xsd:attribute name="Operation" type="xsd:string"></xsd:attribute>
			</xsd:complexType>
			<xsd:complexType name="ListOfAccorB2bAccountResaHabitsResaMode">
				<xsd:sequence>
					<xsd:element name="AccorB2bAccountResaHabitsResaMode" maxOccurs="unbounded" minOccurs="0"
						type="AccorB2bAccountResaHabitsResaMode"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="AccorB2bAccountResaHabitsResaMode">
				<xsd:sequence>
					<xsd:element name="Id" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="Created" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="CreatedBy" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="Updated" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="UpdatedBy" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ConflictId" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="Searchspec2" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BModeList" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="Name" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="Type2" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
				</xsd:sequence>
				<xsd:attribute name="Operation" type="xsd:string"></xsd:attribute>
			</xsd:complexType>
			<xsd:complexType name="ListOfAccorB2bAccountCi">
				<xsd:sequence>
					<xsd:element name="AccorB2bAccountCi" maxOccurs="unbounded" minOccurs="0" type="AccorB2bAccountCi"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="AccorB2bAccountCi">
				<xsd:sequence>
					<xsd:element name="Id" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="Created" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="CreatedBy" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="Updated" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="UpdatedBy" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ConflictId" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="Searchspec2" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="Name" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="Type2" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
				</xsd:sequence>
				<xsd:attribute name="Operation" type="xsd:string"></xsd:attribute>
			</xsd:complexType>
			<xsd:complexType name="ListOfDnbSic">
				<xsd:sequence>
					<xsd:element name="DnbSic" maxOccurs="unbounded" minOccurs="0" type="DnbSic"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="DnbSic">
				<xsd:sequence>
					<xsd:element name="Description" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="SIC" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="SICTechField" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="DUNSNumber" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
				</xsd:sequence>
				<xsd:attribute name="Searchspec" type="xsd:string"></xsd:attribute>
				<xsd:attribute name="operation" type="xsd:string"></xsd:attribute>
				<xsd:attribute name="IsPrimary" type="xsd:string"></xsd:attribute>
			</xsd:complexType>
			<xsd:complexType name="ListOfACCORAccountAddressUsageType">
				<xsd:sequence>
					<xsd:element name="ACCORAccountAddressUsageType" maxOccurs="unbounded" minOccurs="0"
						type="ACCORAccountAddressUsageType"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ACCORAccountAddressUsageType">
				<xsd:sequence>
					<xsd:element name="Searchspec" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORAccountAddressUsage" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
				</xsd:sequence>
				<xsd:attribute name="IsPrimaryMVG" type="xsd:string"></xsd:attribute>
				<xsd:attribute name="Operation" type="xsd:string"></xsd:attribute>
			</xsd:complexType>
		</xsd:schema>
		<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation>Copyright (C) 2001-2004 Siebel Systems, Inc. All
					rights reserved. Siebel XSD
					Generation
				</xsd:documentation>
			</xsd:annotation>
			<xsd:element name="ListOfSwiOrganizationB2BOutIOV5" type="ListOfSwiOrganizationB2BOutIOV5"></xsd:element>
			<xsd:complexType name="ListOfSwiOrganizationB2BOutIOV5TopElmt">
				<xsd:sequence>
					<xsd:element name="ListOfSwiOrganizationB2BOutIOV5" maxOccurs="1" minOccurs="1"
						type="ListOfSwiOrganizationB2BOutIOV5"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ListOfSwiOrganizationB2BOutIOV5">
				<xsd:sequence>
					<xsd:element name="Account" maxOccurs="unbounded" minOccurs="1" type="Account"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Account">
				<xsd:sequence>
					<xsd:element name="Id" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="RowId" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="PartyTypeCode" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="PartyUId" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="LastUpdateSDQ" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="UpdatedBy" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="Updated" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="Location" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="IntegrationId" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="Name" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BLegalName" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="AccountStatus" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BSFAAccountStatus" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="Status" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="Type" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BCreatedDate" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="AccountCreatedBy" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BCreatedByLogin" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BUpdated" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="AccountUpdatedBy" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BUpdatedBy" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BPhonePrefix" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BClientType" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="MainPhoneNumber" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BFaxPrefix" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="MainFaxNumber" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="HomePage" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BEmail" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BAccountResponsableLogin" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BResponsableNom" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BResponsablePrenom" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ParentAccountIntegrationId" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BParentAccountResponsableLogin" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BMasterAccountIntegrationId" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BBusinessType" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BKeyAccountClassification" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BInactiveFlag" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BSystematicTracking" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="DUNSNumber" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BCapital" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BCASociete" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BBusinessLine" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BBusinessSector" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BMainAccorDivision" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BRegistrationNumber" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BTypeSociete" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="Description" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORDescription2" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORDescription3" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BCreditManagement" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BLastUpdatedGrappe" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BLastUpdatedGrappeSystemId" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORContratNumber" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORDNBDevise" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORDNBNationalID" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORDNBIDType" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORDNBOutBusiness" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORDNBTotalEmployees" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BAccountCategory" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BBookingCodeSource" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BBookingCode" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BRecordType" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BNetPriceRemunerationFlag" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BReservationMode" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BTerritoryCode" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BAgencyUpdated" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BAgencyCreated" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BAccountStatus" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BHomeAgencyCode" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BPreviousAgencyCode" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BTransactionCode" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BToBeDeleted" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BDeletionReason" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BNetworkId" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BNetworkTARSCode" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BNetworkName" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BExternalAgencyCode" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BSuspiciousAgencyStatus" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BConsortiumName" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BSuspiciousAgencyComments" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BSuspiciousAgencyStatusLastUpdate" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BNoshowPercentage" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BCancelledRevenue" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BTARSTransferred" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BAccessCode1" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BAccessCode2" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BExpirationDate" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BSubsidiaryAccountClassification" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BIndividualGenericAccount" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BLeadSource" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BCreatedByDelphi" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BUpdatedByDelphi" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ListOfCifAccountReference" maxOccurs="1" minOccurs="0" type="ListOfCifAccountReference"></xsd:element>
					<xsd:element name="ListOfDnbAccount" maxOccurs="1" minOccurs="0" type="ListOfDnbAccount"></xsd:element>
					<xsd:element name="ListOfAccount_BusinessAddress" maxOccurs="1" minOccurs="0"
						type="ListOfAccount_BusinessAddress"></xsd:element>
					<xsd:element name="ListOfAccorSegment" maxOccurs="1" minOccurs="0" type="ListOfAccorSegment"></xsd:element>
					<xsd:element name="ListOfAccorAccountSegment" maxOccurs="1" minOccurs="0" type="ListOfAccorAccountSegment"></xsd:element>
					<xsd:element name="ListOfAccorDistribution" maxOccurs="1" minOccurs="0" type="ListOfAccorDistribution"></xsd:element>
					<xsd:element name="ListOfAccorB2bAccountResaHabitsDistribMode" maxOccurs="1" minOccurs="0"
						type="ListOfAccorB2bAccountResaHabitsDistribMode"></xsd:element>
					<xsd:element name="ListOfAccorB2bAccountResaHabitsResaMode" maxOccurs="1" minOccurs="0"
						type="ListOfAccorB2bAccountResaHabitsResaMode"></xsd:element>
					<xsd:element name="ListOfAccorB2bAccountCi" maxOccurs="1" minOccurs="0" type="ListOfAccorB2bAccountCi"></xsd:element>
				</xsd:sequence>
				<xsd:attribute name="Operation" type="xsd:string"></xsd:attribute>
				<xsd:attribute name="Searchspec" type="xsd:string"></xsd:attribute>
			</xsd:complexType>
			<xsd:complexType name="ListOfCifAccountReference">
				<xsd:sequence>
					<xsd:element name="CifAccountReference" maxOccurs="unbounded" minOccurs="0" type="CifAccountReference"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="CifAccountReference">
				<xsd:sequence>
					<xsd:element name="ExternalId1" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="SystemNumber" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ListOfDnbAccount">
				<xsd:sequence>
					<xsd:element name="DnbAccount" maxOccurs="unbounded" minOccurs="0" type="DnbAccount"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="DnbAccount">
				<xsd:sequence>
					<xsd:element name="DUNSNumber3" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ParentHQDUNS3" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="DomesticUltimateDUNS2" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="GlobalUltimateDUNS3" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BRequestDate" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BRiskBand" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BOriginalLimit" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BOriginalDecision" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BComments" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="EmployeeTotal" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BIDType" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="NationalIdentificationNumber2" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="SICCode" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BDNBUpdateStatus" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BAccountDUNSNumber" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="BusinessName" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="AnnualSalesLocalCurrency" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BDevise" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BOutOfBusiness" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="EmployeeHere2" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="MailAddress" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="MailCity" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="MailState" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="MailZip" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORMailingCountry" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORRegisteredAddInd" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="CableTelexNumber" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORCEOFullName" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORCEOTitle" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="PrimaryLocalActivityCode" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORActivityIndicator" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="YearStarted1" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="AnnualSalesLocalCurrencyCD" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORAnnualSalesUS" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="EmployeeHereCode" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="EmployeeTotalCode" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORIncludePrinciples" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ImportExportCode" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="LegalStatus2" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="SiteStatus" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="SubsidiaryIndicator" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORPreviousDUNSNumber" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORReportDate" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="NumberofFamilyMembers" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="DiasCode" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="HierarchyCode" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="FamilyUpdateDate" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORMarketableIndicator" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORDNBSIC2" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORDNBSIC3" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORDNBSIC4" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORDNBSIC5" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORDNBSIC6" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BOriginalLimitCurrency" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ListOfDnbSic" maxOccurs="1" minOccurs="0" type="ListOfDnbSic"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ListOfAccount_BusinessAddress">
				<xsd:sequence>
					<xsd:element name="Account_BusinessAddress" maxOccurs="unbounded" minOccurs="0" type="Account_BusinessAddress"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Account_BusinessAddress">
				<xsd:sequence>
					<xsd:element name="AddressId" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="AddressIntegrationId" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="BillAddressFlag" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="AddressName" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="StreetAddress" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="StreetAddress2" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ApartmentNumber" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORAddressLine4" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="City" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="PostalCode" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="Country" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="State" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORNPAIFlag" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORNPAIDate" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCOROptOutFlag" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCOROptOutDate" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="AddressCleanseVerifiedFlag" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="AddressCleanseVerifiedStatus" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORAddressType" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ListOfACCORAccountAddressUsageType" maxOccurs="1" minOccurs="0"
						type="ListOfACCORAccountAddressUsageType"></xsd:element>
				</xsd:sequence>
				<xsd:attribute name="IsPrimaryMVG" type="xsd:string"></xsd:attribute>
				<xsd:attribute name="Operation" type="xsd:string"></xsd:attribute>
				<xsd:attribute name="Searchspec" type="xsd:string"></xsd:attribute>
			</xsd:complexType>
			<xsd:complexType name="ListOfAccorSegment">
				<xsd:sequence>
					<xsd:element name="AccorSegment" maxOccurs="unbounded" minOccurs="0" type="AccorSegment"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="AccorSegment">
				<xsd:sequence>
					<xsd:element name="AdditionalSegment" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
				</xsd:sequence>
				<xsd:attribute name="Operation" type="xsd:string"></xsd:attribute>
			</xsd:complexType>
			<xsd:complexType name="ListOfAccorAccountSegment">
				<xsd:sequence>
					<xsd:element name="AccorAccountSegment" maxOccurs="unbounded" minOccurs="0" type="AccorAccountSegment"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="AccorAccountSegment">
				<xsd:sequence>
					<xsd:element name="Id" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="Created" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="CreatedBy" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="Updated" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="UpdatedBy" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ConflictId" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="Searchspec2" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="Name" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="Type2" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
				</xsd:sequence>
				<xsd:attribute name="Operation" type="xsd:string"></xsd:attribute>
			</xsd:complexType>
			<xsd:complexType name="ListOfAccorDistribution">
				<xsd:sequence>
					<xsd:element name="AccorDistribution" maxOccurs="unbounded" minOccurs="0" type="AccorDistribution"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="AccorDistribution">
				<xsd:sequence>
					<xsd:element name="Id" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="Created" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="CreatedBy" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="Updated" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="UpdatedBy" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ConflictId" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="Searchspec2" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BGDSCode" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BGDSIATA" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BNRCCode" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BPCCCode" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BRateaccess" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BSGACode" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BSGASite" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="AccountId" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="Name" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="Type2" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
				</xsd:sequence>
				<xsd:attribute name="Operation" type="xsd:string"></xsd:attribute>
			</xsd:complexType>
			<xsd:complexType name="ListOfAccorB2bAccountResaHabitsDistribMode">
				<xsd:sequence>
					<xsd:element name="AccorB2bAccountResaHabitsDistribMode" maxOccurs="unbounded" minOccurs="0"
						type="AccorB2bAccountResaHabitsDistribMode"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="AccorB2bAccountResaHabitsDistribMode">
				<xsd:sequence>
					<xsd:element name="Id" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="Created" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="CreatedBy" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="Updated" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="UpdatedBy" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ConflictId" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="Searchspec2" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BDistributionList" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="Name" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="Type2" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
				</xsd:sequence>
				<xsd:attribute name="Operation" type="xsd:string"></xsd:attribute>
			</xsd:complexType>
			<xsd:complexType name="ListOfAccorB2bAccountResaHabitsResaMode">
				<xsd:sequence>
					<xsd:element name="AccorB2bAccountResaHabitsResaMode" maxOccurs="unbounded" minOccurs="0"
						type="AccorB2bAccountResaHabitsResaMode"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="AccorB2bAccountResaHabitsResaMode">
				<xsd:sequence>
					<xsd:element name="Id" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="Created" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="CreatedBy" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="Updated" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="UpdatedBy" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ConflictId" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="Searchspec2" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORB2BModeList" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="Name" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="Type2" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
				</xsd:sequence>
				<xsd:attribute name="Operation" type="xsd:string"></xsd:attribute>
			</xsd:complexType>
			<xsd:complexType name="ListOfAccorB2bAccountCi">
				<xsd:sequence>
					<xsd:element name="AccorB2bAccountCi" maxOccurs="unbounded" minOccurs="0" type="AccorB2bAccountCi"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="AccorB2bAccountCi">
				<xsd:sequence>
					<xsd:element name="Id" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="Created" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="CreatedBy" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="Updated" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="UpdatedBy" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ConflictId" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="Searchspec2" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="Name" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="Type2" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
				</xsd:sequence>
				<xsd:attribute name="Operation" type="xsd:string"></xsd:attribute>
			</xsd:complexType>
			<xsd:complexType name="ListOfDnbSic">
				<xsd:sequence>
					<xsd:element name="DnbSic" maxOccurs="unbounded" minOccurs="0" type="DnbSic"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="DnbSic">
				<xsd:sequence>
					<xsd:element name="Description" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="SIC" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="SICTechField" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="DUNSNumber" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
				</xsd:sequence>
				<xsd:attribute name="Searchspec" type="xsd:string"></xsd:attribute>
				<xsd:attribute name="operation" type="xsd:string"></xsd:attribute>
				<xsd:attribute name="IsPrimary" type="xsd:string"></xsd:attribute>
			</xsd:complexType>
			<xsd:complexType name="ListOfACCORAccountAddressUsageType">
				<xsd:sequence>
					<xsd:element name="ACCORAccountAddressUsageType" maxOccurs="unbounded" minOccurs="0"
						type="ACCORAccountAddressUsageType"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ACCORAccountAddressUsageType">
				<xsd:sequence>
					<xsd:element name="Searchspec" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
					<xsd:element name="ACCORAccountAddressUsage" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
				</xsd:sequence>
				<xsd:attribute name="IsPrimaryMVG" type="xsd:string"></xsd:attribute>
				<xsd:attribute name="Operation" type="xsd:string"></xsd:attribute>
			</xsd:complexType>
		</xsd:schema>
	</types>
	<message name="createOrganizationB2BV5_Input">
		<part name="createOrganizationB2BV5_Input" element="tns:createOrganizationB2BV5_Input"></part>
	</message>
	<message name="createOrganizationB2BV5_Output">
		<part name="createOrganizationB2BV5_Output" element="tns:createOrganizationB2BV5_Output"></part>
	</message>
	<message name="updateOrganizationB2BV5_Input">
		<part name="updateOrganizationB2BV5_Input" element="tns:updateOrganizationB2BV5_Input"></part>
	</message>
	<message name="updateOrganizationB2BV5_Output">
		<part name="updateOrganizationB2BV5_Output" element="tns:updateOrganizationB2BV5_Output"></part>
	</message>
	<portType name="UCM_spcOrganization_spcCustomer_spcProfile_spcIntegration_spcSOAP_spcProcess_spcB2B_spcV5">
		<operation name="createOrganizationB2BV5">
			<input message="tns:createOrganizationB2BV5_Input"></input>
			<output message="tns:createOrganizationB2BV5_Output"></output>
		</operation>
		<operation name="updateOrganizationB2BV5">
			<input message="tns:updateOrganizationB2BV5_Input"></input>
			<output message="tns:updateOrganizationB2BV5_Output"></output>
		</operation>
	</portType>
	<binding name="UCM_spcOrganization_spcCustomer_spcProfile_spcIntegration_spcSOAP_spcProcess_spcB2B_spcV5" type="tns:UCM_spcOrganization_spcCustomer_spcProfile_spcIntegration_spcSOAP_spcProcess_spcB2B_spcV5">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
		<operation name="createOrganizationB2BV5">
			<soap:operation soapAction="document/http://siebel.com/CustomUI:createOrganizationB2BV5"></soap:operation>
			<input>
				<soap:body use="literal"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
		</operation>
		<operation name="updateOrganizationB2BV5">
			<soap:operation soapAction="document/http://siebel.com/CustomUI:updateOrganizationB2BV5"></soap:operation>
			<input>
				<soap:body use="literal"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
		</operation>
	</binding>
	<service name="OrganizationServiceB2BV5">
		<port binding="tns:UCM_spcOrganization_spcCustomer_spcProfile_spcIntegration_spcSOAP_spcProcess_spcB2B_spcV5"
			name="UCM_spcOrganization_spcCustomer_spcProfile_spcIntegration_spcSOAP_spcProcess_spcB2B_spcV5">
			<soap:address location="http://localhost:9393/mdm/mockAccount"></soap:address>
		</port>
	</service>
</definitions>